[submodule "packages/nomad-FAIR"]
	path = packages/nomad-FAIR
	url = https://gitlab.mpcdf.mpg.de/nomad-lab/nomad-FAIR.git
[submodule "packages/plugin_template"]
	path = packages/plugin_template
	url = https://github.com/ccc3001/plugin_template.git
